sw.descargamasiva/Resources/key.key
sw.descargamasiva/Resources/cer.cer
sw.descargamasiva/Resources/pfx.pfx
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

[Dd]ebugPS/
[Rr]eleasePS/