<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="protocolonly" switchValue="All">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Http" tracemode="protocolonly" switchValue="All">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information, Error,Verbose">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\inetpub\logs\SW.SatServicesWCF2.svclog"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="traceListenerMessage" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\inetpub\logs\SW.SatServicesWCF3.svclog"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"></trace>
    <!--<switches>
      <add name="System.Net" value="Information, Error,Verbose" />
      <add name="System.Net.Cache" value="Information, Error,Verbose"/>
      <add name="System.Net.Http" value="Information, Error,Verbose"/>
      <add name="System.Net.Sockets" value="Information, Error,Verbose"/>
      <add name="System.Net.WebSockets" value="Information, Error,Verbose" />      
    </switches>-->
    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\inetpub\logs\network.log"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
